*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 80px 0px;
    .img{
        width: 30%;
        img{
            width: 100%;
        }
    }
    .txt{
        // width: 50%;
        ul{
            li{
                margin-bottom: 40px;
            }
        }
    }
}